<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.millet.z_basic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <!--引导页-->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait" />

        <!--图片预览-->
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:screenOrientation="portrait" />

        <!--图片裁剪-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--scan-->
        <activity
            android:name=".ui.view.scan.activity.ScanCodeActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.blankj.utilcode.util.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.utilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>

    </application>

</manifest>
